.album-grid-item {
  align-items: center;
  background: #151515;
  border: 4px solid #222;
  color: inherit;
  display: inline-flex;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  width: calc(16.66% - 8px - 2rem);
}

.album-grid-item:hover {
  opacity: .7;
  transition: opacity .1s ease-out;
}

.album-grid-item-artwork {
  display: block;
  height: 100px;
}

.album-grid-item-info {
  margin-left: 0.5rem;
  width: calc(100% - 110px);
}

.album-grid-item-collection {
  font-size: .8rem;
}

.album-grid-item-artist {
  font-size: .7rem;
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 2499px) {
  .album-grid-item {
    width: calc(20% - 8px - 2rem);
  }
}

@media only screen and (max-width: 1999px) {
  .album-grid-item {
    width: calc(25% - 8px - 2rem);
  }
}

@media only screen and (max-width: 1439px) {
  .album-grid-item {
    width: calc(33.33% - 8px - 2rem);
  }
}

@media only screen and (max-width: 1199px) {
  .album-grid-item {
    width: calc(50% - 8px - 2rem);
  }
}

@media only screen and (max-width: 799px) {
  .album-grid-item {
    width: calc(100% - 8px - 2rem);
  }
}
