.album-search {
  background: #eee;
  border-radius: 1rem;
}

.album-search-input {
  background: transparent;
  border: none;
  color: #313C42;
  outline: none;
  padding: 0.5rem 0 0.5rem 1rem;
  width: 225px;
}

.album-search-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
}

.album-search-button img {
  width: 12px;
}
