.layout-header {
  background: #191919;
  padding: 0.5rem;
}

.layout-content {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.layout .logo img {
  margin: -1px 0.5rem 0 0;
  vertical-align: middle;
  width: 50px;
}

.layout-logo-anchor {
  display: inline-block;
}

.layout .album-search {
  display: inline-block;
}
